CreatorSuite/CreatorSuite/Data/XML/XSD/SpellConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SpellConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Spell">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="resourceCost" type="xs:decimal" />
              <xs:element name="power" type="xs:decimal" />
              <xs:element name="coolDown" type="xs:decimal" />
              <xs:element name="castTime" type="xs:decimal" />
              <xs:element name="spellType" type="xs:string" />
              <xs:element name="spellSchool" type="xs:string" />
              <xs:element name="classType" type="xs:string" />
              <xs:element name="imagePath" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="Name" type="xs:string" use="required" />
            <xs:attribute name="ID" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>